<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Pessoas</title>
    <link rel="stylesheet" href="css/tabelas.css">
</head>
<body>
    <button onclick="listarPessoas()">Listar pessoas</button>

    <div class="tabela">
        <table>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Altura (cm)</th>
                <th>Peso (kg)</th>
            </tr>
        </table>
    </div>

    <script src="js/requests.js"></script>
</body>
</html>